VITE_DEBUG=false
VITE_DEBUG_PROFILE=false
VITE_DEBUG_BOARD=false
VITE_DEBUG_WHEEL=false
VITE_DEBUG_WHEEL_ANIMATION=false
VITE_DEBUG_COMPASS=true
VITE_DEBUG_PLATO=false
VITE_DEBUG_DIURNAL=false
VITE_DEBUG_SOLAR_TROPICAL=false
VITE_DEBUG_SOLAR_ANOMALISTIC=false
VITE_DEBUG_LUNAR_SYNODIC=false
VITE_DEBUG_LUNAR_DRACONIC=false
VITE_DEBUG_LUNAR_ANOMALISTIC=false

VITE_DEBUG_APP=false